@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* .App{
    min-height: 100vh;
    display: flex;
    background-color: rgb(230, 255, 218);
    background-image: url();
    background-size: cover;
    background-position: center;
}
 */
.App{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,91,1) 35%, rgba(0,212,255,1) 100%);


    background-size: cover;
        background-position: center;
    /* display: flex; */


}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}