.aurora-container {
  position: absolute;
  width: 100%;
  height: 250vh; /* Make it full screen height */
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1; /* Ensure it stays in the background */
}
